{% extends "orders/base.html" %}

{% block title %}
CS Pizza : {{request.user.username}} order view
{% endblock %}

{% block body %}
  <br><br>
  {% if message %}
    <h1 style="text-align:center">{{message}}</h1>
  {% endif %}
  {% if pending_order %}
    <h1>Pending orders:</h1>
    <ol>
      {% for order in pending_order %}
      <div class="container">
        <a href="{% url 'order_details' order.id  %}" class="order_link">
            <li>
              {{order}}
            </li>
        </a>
      </div>
      {% endfor %}
    </ol>
  {% endif %}
  <hr>

  {% if complete_order %}
    <h1>Complete orders:</h1>
    <ol>
      {% for order in complete_order %}
      <div class="container">
        <a href="{% url 'order_details' order.id  %}" class="order_link">
            <li>
              {{order}}
            </li>
        </a>
      </div>
      {% endfor %}
    </ol>
  {% endif %}

{% endblock %}
