{% extends "orders/base.html" %}

{% block title %}
CS Pizza :
{% endblock %}

{% block body %}
  <!-- Nav bar -->
  <br><br>
<!-- {{ topping_json | json_script:"topping_json" }} -->
<div id="show_menu">
  {% for item_name, item_content in menu.items %}
    <h2 class="header">{{item_name|slice:"0:-4"}}</h2>
    {% for type, type_data in item_content.items %}

      {% if type == "topping_option"%}
        <label>Topping option: </label>
        <select id="{{item_name}}_{{type}}" class="option_dropdown" name="">
          {% for cell in type_data %}
            {% if cell == 0 %}
              <option class="" value="{{cell}}">Cheese</option>
            {% elif cell == 1 %}
              <option class="" value="{{cell}}">{{cell}} topping</option>
            {% elif cell > 1 %}
              <option class="" value="{{cell}}">{{cell}} toppings</option>
            {% endif %}
          {% endfor %}
        </select>
        <div id="topping_dropdown">
        </div>

      {% else %}
        <label>{{type|title}}: </label>
        <select id="{{item_name}}_{{type}}"class="option_dropdown" name="">
          {% for cell in type_data %}
            <option class="" value="{{cell}}">{{cell}}</option>
          {% endfor %}
        </select>
      {% endif %}
      <br>
    {% endfor %}

    {% if item_name == "SubMenu" %}
    <label for="">Add on: </label>
      {% for add_on in sub_add_on %}
        {% if add_on.name != "Extra Cheese" %}
          <button type="button" class="btn btn-success add_on hidden" data-price="{{add_on.price}}"
          data-added="false" data-name="{{add_on.name}}">
          +${{add_on.price}} {{add_on.name}}</button>
        {% else %}
          <button type="button" class="btn btn-success add_on" data-price="{{add_on.price}}"
          data-added="false" data-name="{{add_on.name}}">
          +${{add_on.price}} {{add_on.name}}</button>
        {% endif %}
      {% endfor %}
      <br>
      <div>
        <button id="{{item_name}}_price" type="button" class="btn btn-primary add2cart_button" data-price=''></button>
      </div>
    <!-- All but "SubMenu" -->
    {% else %}
    <br>
      <div>
        <button id="{{item_name}}_price" type="button" class="btn btn-primary add2cart_button" data-price=''></button>
      </div>
    {% endif %}
    <hr>
  {% endfor %}
</div>

{{ toppings|json_script:"topping_data"}}
{{ sub_add_on|json_script:"sub_add_on"}}

<script type="text/javascript" src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
{% load static %}
<script type="text/javascript" src="{% static 'js/index.js'%}"></script>
{% endblock %}
