{% extends "orders/base.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}

<h1>Login</h1>
{% if message %}
    <div>
        <p style="color: red">{{ message }}</p>
    </div>
{% endif %}
    <div>
        <p style="color: red">{{ username }}</p>
    </div>

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <input class="form-control" id="username" name="username" type="text"/>
    </div>
    <div class="form-group">
      <input class="form-control" id="password" name="password" type="password"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="{% url 'signup' %}">Register</a>
{% endblock %}
