{% extends "orders/base.html" %}

{% block title %}
CS Pizza : Order details
{% endblock %}

{% block body %}
  <h1>Order id {{order_id}}: details</h1>
  <span class="row"><h2>Customer: <span style="color: darkblue;">{{order.username}}</span></h2></span>
  <!-- Pizza -->
  {% if pizza %}
    <h2>Pizza</h2>
    <ol>
      {% for row in pizza %}
        <li class="details">Pizza id: {{row}}</li>
      {% endfor %}
    </ol>
    <hr>
  {% endif %}

  <!-- Sub -->
  {% if sub %}
    <h2>Sub</h2>
    <ol>
      {% for row in sub %}
        <li class="details">Sub id: {{row}}</li>
      {% endfor %}
    </ol><hr>
  {% endif %}

  <!-- Pasta -->
  {% if pasta %}
    <h2>Pasta</h2>
    <ol>
      {% for row in pasta %}
        <li class="details">Pasta id: {{row}}</li>
      {% endfor %}
    </ol><hr>
  {% endif %}

  <!-- Salad -->
  {% if salad %}
    <h2>Salad</h2>
    <ol>
      {% for row in salad %}
        <li class="details">Salad id: {{row}}</li>
      {% endfor %}
    </ol><hr>
  {% endif %}

  <!-- DinnerPlatter -->
  {% if dinnerplatter %}
    <h2>Dinner Platter</h2>
    <ol>
      {% for row in dinnerplatter %}
        <li class="details">Dinner Platter id: {{row}}</li>
      {% endfor %}
    </ol><hr>
  {% endif %}
  <a href="/order_view"><button type="button" class="btn btn-secondary btn-lg">Back</button></a>
  {% if not is_complete %}
    <button  id="complete_button" type="button" class="btn btn-success btn-lg">Complete</button>
  {% else %}
    <button  id="pending_button" type="button" class="btn btn-danger btn-lg">Change to Pending</button>
  {% endif %}
  <br><br><br>

  {{order_id|json_script:"order_id"}}
  <!-- Jquery -->
  <script type="text/javascript" src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
  {% load static %}
  <script type="text/javascript" src="{% static 'js/order_details.js'%}"></script>
{% endblock %}
